.login_bg{
    background: #f0f2f5 url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg) no-repeat center 110px;
}
.title{
    font-size: 28px;
    font-weight: bold;
    margin-left: 16px;
}